.container {
    width: 90%;
    height: 250px;
    display: flex;
    border: 1px solid black;
    margin: 20px auto;
    justify-content: space-between;
}
.leftSide {
    width: 60%;
    margin-left: 25px;
}
.leftSide p {
    margin-top: 30px;
}
.leftSide h2 {
    margin-top: 20px;
}
.rightSide {
    width: 35%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.rightSide div {
    width: 100%;
    text-align: start;
}
.authors {
    margin: 0 5px;
}
.creationDate {
    margin-right: 5px;
}